NODE_ENV=development
DB_PORT=5432
DB_TYPE=postgres
DB_HOST=db
DB_USERNAME=
DB_PASSWORD=
DB_NAME=postgres
DB_LOGGING=
JWT_SECRET=
JWT_VERIFICATION_TOKEN_SECRET=
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=3600
EMAIL_CONFIRMATION_URL=
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASS=
ENCRYPTION_KEY=
REDIRECT_BASE_URL = 